In [1]:
import pandas as pd
import numpy as np

In [13]:
from sklearn import preprocessing

In [88]:
df = pd.read_csv("UCBAdd.csv",sep=";")

In [89]:
df.head()

      Admit  Gender Dept  Freq
0  Admitted    Male    A   512
1  Rejected    Male    A   313
2  Admitted  Female    A    89
3  Rejected  Female    A    19
4  Admitted    Male    B   353

In [90]:
df = df.drop(["Freq"],axis=1)

In [91]:
values = df.values

In [127]:
first = np.full((525,3),values[0])

In [107]:
s = np.full((313,3),values[1])

In [128]:
first.shape

(525, 3)

In [129]:
first = pd.DataFrame(first,columns=df.columns)

In [108]:
s = pd.DataFrame(s,columns=df.columns)

In [130]:
first.head()

      Admit Gender Dept
0  Admitted   Male    A
1  Admitted   Male    A
2  Admitted   Male    A
3  Admitted   Male    A
4  Admitted   Male    A

In [112]:
 a= pd.concat([first,s])
a.shape

(838, 3)

In [133]:
a = [512,313,89,19,353,207,17,8,120,205,202,391,138,279,131,244,53,138,94,299,22,351,24,317]

In [139]:
for i in range(len(a)):
    print(a[i],i+1)
    print(values[i+1])
    temp = np.full((a[i],3),values[i])
    temp = pd.DataFrame(temp,columns=df.columns)
    datafr = pd.concat([datafr,temp])

313 1
['Rejected' 'Male' 'A']
89 2
['Admitted' 'Female' 'A']
19 3
['Rejected' 'Female' 'A']
353 4
['Admitted' 'Male' 'B']
207 5
['Rejected' 'Male' 'B']
17 6
['Admitted' 'Female' 'B']
8 7
['Rejected' 'Female' 'B']
120 8
['Admitted' 'Male' 'C']
205 9
['Rejected' 'Male' 'C']
202 10
['Admitted' 'Female' 'C']
391 11
['Rejected' 'Female' 'C']
138 12
['Admitted' 'Male' 'D']
279 13
['Rejected' 'Male' 'D']
131 14
['Admitted' 'Female' 'D']
244 15
['Rejected' 'Female' 'D']
53 16
['Admitted' 'Male' 'E']
138 17
['Rejected' 'Male' 'E']
94 18
['Admitted' 'Female' 'E']
299 19
['Rejected' 'Female' 'E']
22 20
['Admitted' 'Male' 'F']
351 21
['Rejected' 'Male' 'F']
24 22
['Admitted' 'Female' 'F']
317 23
['Rejected' 'Female' 'F']

In [140]:
datafr.shape

(4856, 3)

In [141]:
datafr.to_csv("UCBAdmissionsComplete.csv",sep=";")

In [142]:
df = datafr

In [143]:
categorical = df.select_dtypes(include=['object']).columns.tolist()
categorical

['Admit', 'Gender', 'Dept']

In [144]:
#Deep copy the original data
data_encoded = df.copy(deep=True)
#Use Scikit-learn label encoding to encode character data
lab_enc = preprocessing.LabelEncoder()
for col in categorical:
        data_encoded[col] = lab_enc.fit_transform(df[col])
        le_name_mapping = dict(zip(lab_enc.classes_, lab_enc.transform(lab_enc.classes_)))
        print('Feature', col)
        print('mapping', le_name_mapping)

Feature Admit
mapping {'Admitted': 0, 'Rejected': 1}
Feature Gender
mapping {'Female': 0, 'Male': 1}
Feature Dept
mapping {'E': 4, 'B': 1, 'C': 2, 'A': 0, 'D': 3, 'F': 5}

In [145]:
# Create new dataframe with dummy features
categorical_feats = df.select_dtypes(include=['object']).columns.tolist()
print(categorical_feats)

['Admit', 'Gender', 'Dept']

In [146]:
df = pd.get_dummies(df, columns= categorical_feats)

In [147]:
df.head()

,Admit_Admitted,Admit_Rejected,Gender_Female,Gender_Male,Dept_A,Dept_B,Dept_C,Dept_D,Dept_E,Dept_F
0,1,0,0,1,1,0,0,0,0,0
1,1,0,0,1,1,0,0,0,0,0
2,1,0,0,1,1,0,0,0,0,0
3,1,0,0,1,1,0,0,0,0,0
4,1,0,0,1,1,0,0,0,0,0

In [22]:
df.describe()

,Age,Expenditures,Gender_Male,Gender_Female,Age Cohort_0 to 5,Age Cohort_13 to 17,Age Cohort_18 to 21,Age Cohort_22 to 50,Age Cohort_51+,Age Cohort_6 to 12,Ethnicity_American Indian,Ethnicity_Asian,Ethnicity_Black,Ethnicity_Hispanic,Ethnicity_Multi Race,Ethnicity_Native Hawaiian,Ethnicity_Other,Ethnicity_White not Hispanic
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,22.800000,18065.786000,0.497000,0.503000,0.082000,0.212000,0.199000,0.226000,0.106000,0.175000,0.004000,0.129000,0.059000,0.376000,0.026000,0.003000,0.002000,0.401000
std,18.462038,19542.830884,0.500241,0.500241,0.274502,0.408929,0.399448,0.418448,0.307992,0.380157,0.063151,0.335368,0.235743,0.484622,0.159215,0.054717,0.044699,0.490346
min,0.000000,222.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.000000,2898.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,18.000000,7026.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,26.000000,37712.750000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,95.000000,75098.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [148]:
df.to_csv("CategoricalUCBAdmissions.csv",sep=";")