In [1]:
import numpy as np
import pandas as pd

In [22]:
original = pd.read_csv('Original Datasets/compas-scores-two-years.csv')
temporal = pd.read_csv('Original Datasets/COMPAS-Temporal-Order-Table.csv')
df = pd.read_csv('../mysite/core/static/df/Categorized_compas-scores-two-years.csv')
invalidTemp = pd.read_csv('Original Datasets/COMPAS-Temporal-Order-Table Invalid.csv')

In [23]:
df.head()

,decile_score[1_4],decile_score[4_11],age[18_25],age[25_31],age[31_42],age[42_97],priors_count[0_1],priors_count[1_4],priors_count[4_39],c_charge_degree[F],c_charge_degree[M],race[African_American],race[Asian],race[Caucasian],race[Hispanic],race[Native_American],race[Other],sex[Female],sex[Male]
0,1,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,1,0,1
1,1,0,0,0,1,0,1,0,0,1,0,1,0,0,0,0,0,0,1
2,0,1,1,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,1
3,1,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,1
4,0,1,0,0,1,0,0,0,1,1,0,0,0,1,0,0,0,0,1

In [28]:
original.columns

Index(['age', 'c_charge_degree', 'race', 'sex', 'priors_count',
       'decile_score'],
      dtype='object')

In [16]:
tempVal = temporal['attribute'].tolist()

In [17]:
tempVal

['age', 'c_charge_degree', 'race', 'sex', 'priors_count', 'decile_score']

In [10]:
colDF = df.columns

In [12]:
set1 = set(colDF)

In [18]:
set2 = set(tempVal)

In [19]:
set2

{'age', 'c_charge_degree', 'decile_score', 'priors_count', 'race', 'sex'}

In [60]:
mm = max(invalidTemp['order'])
mm

2

In [62]:
invalidTemp[invalidTemp["order"] == mm]

3

In [54]:
invalidTemp.loc[invalidTemp['order'].idxmax()]

attribute    decile_score
order                   2
Name: 1, dtype: object

In [70]:
temporal[temporal["order"] == max(temporal['order'])].shape[0] > 1

False

In [39]:
l = df.columns

c = [i[:i.find("[")] for i in l]
l

Index(['decile_score[1_4]', 'decile_score[4_11]', 'age[18_25]', 'age[25_31]',
       'age[31_42]', 'age[42_97]', 'priors_count[0_1]', 'priors_count[1_4]',
       'priors_count[4_39]', 'c_charge_degree[F]', 'c_charge_degree[M]',
       'race[African_American]', 'race[Asian]', 'race[Caucasian]',
       'race[Hispanic]', 'race[Native_American]', 'race[Other]', 'sex[Female]',
       'sex[Male]'],
      dtype='object')

['decile_score',
 'decile_score',
 'age',
 'age',
 'age',
 'age',
 'priors_count',
 'priors_count',
 'priors_count',
 'c_charge_degree',
 'c_charge_degree',
 'race',
 'race',
 'race',
 'race',
 'race',
 'race',
 'sex',
 'sex']

In [40]:
c = list(dict.fromkeys(c))
c

['race', 'c_charge_degree', 'sex', 'decile_score', 'priors_count', 'age']

['age', 'c_charge_degree', 'race', 'sex', 'priors_count', 'decile_score']

In [41]:
done = []
for i in df.columns:
    val = [i[:i.find("[")]]
    done.append(val)
    order = temporal[temporal['attribute'] == ]

['decile_score']
['decile_score']
['age']
['age']
['age']
['age']
['priors_count']
['priors_count']
['priors_count']
['c_charge_degree']
['c_charge_degree']
['race']
['race']
['race']
['race']
['race']
['race']
['sex']
['sex']

In [59]:
temporal[temporal['attribute'] == 'sex']['order'].iloc[0]

1

In [62]:
dd = dict.fromkeys(df.columns , 1)

In [65]:
dd

{'age[18_25]': 1,
 'age[25_31]': 1,
 'age[31_42]': 1,
 'age[42_97]': 1,
 'c_charge_degree[F]': 1,
 'c_charge_degree[M]': 1,
 'decile_score[1_4]': 1,
 'decile_score[4_11]': 1,
 'priors_count[0_1]': 1,
 'priors_count[1_4]': 1,
 'priors_count[4_39]': 1,
 'race[African_American]': 1,
 'race[Asian]': 1,
 'race[Caucasian]': 1,
 'race[Hispanic]': 1,
 'race[Native_American]': 1,
 'race[Other]': 1,
 'sex[Female]': 1,
 'sex[Male]': 4}

In [64]:
dd['sex[Male]'] = 4

In [11]:
a = "race_Native American-Virgin"

In [21]:
a.replace(" ","_").replace("-","_")+"]"

'race_Native_American_Virgin]'

In [14]:
df.columns

Index(['decile_score_[1_4]', 'decile_score_[4_11]', 'age_[18_25]',
       'age_[25_31]', 'age_[31_42]', 'age_[42_97]', 'priors_count_0_1',
       'priors_count_1_4', 'priors_count_4_39', 'c_charge_degree_F',
       'c_charge_degree_M', 'race_African-American', 'race_Asian',
       'race_Caucasian', 'race_Hispanic', 'race_Native American', 'race_Other',
       'sex_Female', 'sex_Male'],
      dtype='object')

In [15]:
df.columns = [i.replace(" ","_").replace("-","_") for i in df.columns]

In [17]:
df.head()

,decile_score_[1_4],decile_score_[4_11],age_[18_25],age_[25_31],age_[31_42],age_[42_97],priors_count_0_1,priors_count_1_4,priors_count_4_39,c_charge_degree_F,c_charge_degree_M,race_African_American,race_Asian,race_Caucasian,race_Hispanic,race_Native_American,race_Other,sex_Female,sex_Male
0,1,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,1,0,1
1,1,0,0,0,1,0,1,0,0,1,0,1,0,0,0,0,0,0,1
2,0,1,1,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,1
3,1,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,1,0,1
4,0,1,0,0,1,0,0,0,1,1,0,0,0,1,0,0,0,0,1

In [ ]:
d = {}

In [ ]:
'Bayesian'