In [1]:
import numpy as np
import pandas as pd

In [71]:
original = pd.read_csv('Original Datasets/compas-scores-two-years.csv')
temporal = pd.read_csv('Original Datasets/COMPAS-Temporal-Order-Table.csv')
df = pd.read_csv('../mysite/core/static/df/Categorized_compas-scores-two-years.csv')
invalidTemp = pd.read_csv('Original Datasets/COMPAS-Temporal-Order-Table Invalid.csv')

In [72]:
df.head()

,decile_score_1_4,decile_score_4_11,age_18_25,age_25_31,age_31_42,age_42_97,priors_count_1_4,priors_count_4_39,priors_count__1,c_charge_degree_F,c_charge_degree_M,race_African-American,race_Asian,race_Caucasian,race_Hispanic,race_Native American,race_Other,sex_Female,sex_Male
0,1,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,1,0,1
1,1,0,0,0,1,0,0,0,1,1,0,1,0,0,0,0,0,0,1
2,0,1,1,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,1
3,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0,1
4,0,1,0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,1

In [53]:
invalidTemp

         attribute  order
0              age      1
1     decile_score      2
2             race      1
3              sex      1
4     priors_count      2
5  c_charge_degree      2

In [16]:
tempVal = temporal['attribute'].tolist()

In [17]:
tempVal

['age', 'c_charge_degree', 'race', 'sex', 'priors_count', 'decile_score']

In [10]:
colDF = df.columns

In [12]:
set1 = set(colDF)

In [18]:
set2 = set(tempVal)

In [19]:
set2

{'age', 'c_charge_degree', 'decile_score', 'priors_count', 'race', 'sex'}

In [60]:
mm = max(invalidTemp['order'])
mm

2

In [62]:
invalidTemp[invalidTemp["order"] == mm]

3

In [54]:
invalidTemp.loc[invalidTemp['order'].idxmax()]

attribute    decile_score
order                   2
Name: 1, dtype: object

In [70]:
temporal[temporal["order"] == max(temporal['order'])].shape[0] > 1

False

In [110]:
l = df.columns

c = [i[:i.find("_")] for i in l]
l

Index(['decile_score_1_4', 'decile_score_4_11', 'age_18_25', 'age_25_31',
       'age_31_42', 'age_42_97', 'priors_count_1_4', 'priors_count_4_39',
       'priors_count__1', 'c_charge_degree_F', 'c_charge_degree_M',
       'race_African-American', 'race_Asian', 'race_Caucasian',
       'race_Hispanic', 'race_Native American', 'race_Other', 'sex_Female',
       'sex_Male'],
      dtype='object')

In [105]:
c = list(dict.fromkeys(c))
c

['sex', 'priors', 'race', 'c', 'decile', 'age']

In [96]:
s = "___sqeeze me___"

# Get Result

result = s.strip("~")

In [97]:
result

'___sqeeze me___'